.my-table {
    background-color: rgb(223, 225, 255);
    color: rgb(41, 41, 41);
    margin: 10px;
}

.my-table thead {
    background-color: rgb(46, 46, 46);
    color: white;
}

.my-table tbody:nth-of-type(even) {
    background: rgb(231, 230, 240);
}

.my-table th {
    padding: 10px;
}

.my-table td {
    padding: 10px;
}

.my-table tbody tr:nth-of-type(even) {
  background: rgb(223, 225, 255);
}